<!-- 
 Fix minimal-mistakes breadcrumbs by copying the file from https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/breadcrumbs.html
 And then using the href from https://jekyllcodex.org/without-plugin/breadcrumbs/# to get proper links
-->

{% case site.category_archive.type %}
{% when "liquid" %}
{% assign path_type = "#" %}
{% when "jekyll-archives" %}
{% assign path_type = nil %}
{% endcase %}

{% if page.collection != 'posts' %}
{% assign path_type = nil %}
{% assign crumb_path = '/' %}
{% else %}
{% assign crumb_path = site.category_archive.path %}
{% endif %}

<nav class="breadcrumbs">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    {% assign crumbs = page.url | split: '/' %}
    {% assign i = 1 %}
    {% for crumb in crumbs offset: 1 %}
    {% if forloop.first %}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item"><span itemprop="name">{{
          site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</span></a>

      <meta itemprop="position" content="{{ i }}" />
    </li>
    <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
    {% endif %}
    {% if forloop.last %}
    <li class="current" {% if page.locale %} lang="{{ page.locale }}" {% endif %}>{{ page.title }}</li>
    {% else %}
    {% assign i = i | plus: 1 %}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}"
        itemprop="item"><span itemprop="name">{{ crumb | url_decode | replace: '-', ' ' | capitalize }}</span></a>
      <meta itemprop="position" content="{{ i }}" />
    </li>
    <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
    {% endif %}
    {% endfor %}
  </ol>
</nav>