<div style="margin-bottom: {{ include.margin_bottom | default: 6em }}; clear: both;">
  <div style="float: {{ include.position }}; margin-right: 1em">
    <img src="{{ include.image_path }}" width="{{include.image_width}}" alt="">
  </div>
  <div>
    {% if include.title != "" %}
    <h2 style="border-bottom: none">{{ include.title }}</h2>
    {% endif %}
    {{ include.description | markdownify }}
  </div>
</div>
